<div class="row">
    <div class="col-md-4">
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#exampleModal" (click)="cleanForm(todoForm)">
            New
        </button>
    </div>
</div>

<div class="row p-4">
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Todo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)">

                <input type="hidden" name="id" [(ngModel)]="todoService.selectedTodo.id">
                
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required [(ngModel)]="todoService.selectedTodo.title" #title="ngModel" (input)="inputValidator($event)">
                    
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert">

                        <div *ngIf="title.errors?.required">
                            <span style="color: red;">Title is required.</span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="descript" placeholder="Description" [(ngModel)]="todoService.selectedTodo.descript" required #descript="ngModel" (input)="inputValidator($event)">

                    <div *ngIf="descript.invalid && (descript.dirty || descript.touched)" class="alert">

                        <div *ngIf="descript.errors?.required">
                            <span style="color: red;">Description is required.</span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <select name="completed" class="form-select form-select-md" aria-label=".form-select-md" [(ngModel)]="todoService.selectedTodo.completed" required #completed="ngModel">
                        <option value="0">False</option>
                        <option value="1" selected>True</option>
                      </select>

                    <div *ngIf="completed.invalid && (completed.dirty || completed.touched)" class="alert">

                        <div *ngIf="completed.errors?.required">
                            <span style="color: red;">Completed is required.</span>
                        </div>
                    </div>

                </div>

                <button class="btn btn-secondary" [disabled]="!todoForm.form.valid">
                    Save
                </button>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todoService.todo">
                    <td>{{todo.title}}</td>
                    <td>{{todo.descript}}</td>
                    <td>
                        <div *ngIf="todo.completed == '0'">
                            False
                        </div>
                        <div *ngIf="todo.completed == '1'">
                            True
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editTodo(todo)" data-toggle="modal" data-target="#exampleModal">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.id)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>